* {
    font: LiterationSans Nerd Font;
    font-weight: bolder;
    font-size: 16pt;
    color: #ffffff;
    background: transparent;
  }
  
  #window {
    background: #171717;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid #3584e4;
  }
  
  #input {
    background-color: #3d3846;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
  }
  
  #outer-box {
    padding: 20px;
  }
  
  #img {
    margin-right: 6px;
  }
  
  #entry {
    padding: 10px;
  }
  
  #entry:selected {
    background-color: #3d3846;
    border: 0px transparent;
  }
  
  #text {
    margin: 2px;
  }